<mat-card>
  <mat-card-title-group>
    <mat-card-title>Front End Developer</mat-card-title>
    <mat-card-subtitle>Last Updated: 10/10/2022</mat-card-subtitle>
    <mat-card-subtitle>Created: 10/10/2022</mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    This one is Front-End/UI Developer positions.</mat-card-content
  >
  <mat-chip-list>
    <mat-chip>JavaScript</mat-chip>
    <mat-chip>React.js</mat-chip>
    <mat-chip color="primary" selected>Angular</mat-chip>
    <mat-chip color="accent" selected>Node.js</mat-chip>
  </mat-chip-list>
</mat-card>
