<mat-card class="container" fxLayout="column" fxLayoutGap="10px">
  <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error>{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-error>Password is required.</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
      fxFlex
    >
      Login
    </button>
  </form>
  <div fxLayout="column">
    <mat-label class="mat-h5 text-align-center">Forgot Password?</mat-label>
    <mat-label class="mat-h5 text-align-center"
      >Don't have an account?
      <span class="sign-up-text" (click)="loadSignUp()"
        >Sign up</span
      ></mat-label
    >
  </div>
</mat-card>
